.boardGame{
    display: grid;
    gap: 3px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.cell{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    cursor: pointer;
    width: 50px;
    border: 1px solid gray;
    font-size: calc(10px + 1vw);
}