.boardGame{
    display: grid;
    gap: 3px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.cell{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    cursor: pointer;
    width: 50px;
    border: 1px solid gray;
    font-size: calc(10px + 1vw);
}

.detailText{
    margin-left: 15px;
}

.previousStep{
    display: block;
    margin-top: 20px;
    margin-left: 15px;
}

.nextStep{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 15px;
}